body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d2da;
}

/* Styles for screens smaller than 480px (e.g., small phones) */
@media (max-width: 480px) {
  /* body {
    font-size: 14px;
  } */
}

.path_style {
        display: flex;
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
        position: absolute;
        margin-top: 60px;
        margin-bottom: 60px;
        z-index: 3;
        align-items: center;
}

#vbg_proj {
  object-fit: cover;
  filter: blur(5px);
  width: 100%;
  height: auto;
  margin-bottom: 0;
}   

header {
  position: relative;
  background-color: #0000006c;
  width: 100%;
  height: 160px;
  z-index: 1;
  top:0px;
}

.nav_design {
  position: absolute;
  display: flex;
  top: -230px;
  width: 100%;
  height: 600px;
  object-fit: contain;
  z-index: 2;
  opacity: 1.0;
}

.nav_layout {
  position: absolute;
  display: flex;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-small;
  font-style: italic;
  justify-content: space-around;
  width: 40%;
  top: 45px;
  left: 400px;
  padding: 2px;
  z-index: 3; /* Ensure it is above other content */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.project_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* h1 {
  top: 200px;
  font-size: xx-large;
  color: white;
  text-shadow: 2px 2px 4px #000000;
} */

.projects_card {
  flex-shrink: 1;
  position: relative;
  padding: 20px;
  border-width: 1px;
  background-color: rgba(0, 255, 255, 0.17);
  border-style: solid;
  border-color: #ffffff;
  height: auto;
  width: auto;
  border-radius: 15px;
  margin: 10px;}


.project_slots {
  background-color: #00000033;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 4;
  opacity: 1.0;
  top: 150px;
  width: 100%;
  height: auto;
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#gamer {
  filter: blur(4px);
}

.about_page {
  position: relative;
  align-items: center;
  width: 100%;
  top: 400px;
  background-color: #1a1a1a9a;
  color: white;
  border-top: #00000033 solid 10px   ;
 
}

#sec {
  padding: 20px;
  text-align: left;
  height: auto;
  width: 100%;
  background-color: #ffffff40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sec > ul > li {
  font-size: larger;
}

.avatar_pic {
  flex-grow: 1;
}

li {
  text-decoration: none;
}

